# Shopify API calls
requests

# Environment variable loading
python-dotenv

# Groq LLM
groq

# Telegram bot
python-telegram-bot

# Data validation
pydantic

# conversation memory
upstash-redis

# Sqlalchemy
sqlalchemy
psycopg2-binary

# fastapi and uvicorn
fastapi
uvicorn